.status {
    padding: 4px 5px;
    margin-top: 4px;
    margin-left: 8px;
    border-radius: 5px;

    &__paid {
        color: #007AFF;
        background-color: #E3F0FF;
    }

    &__unpaid {
        color: #FF4E3D;
        background-color: rgba(255, 45, 85, 0.11);
    }

    &__pending {
        color: #FF9500;
        background-color: rgba(255, 149, 0, 0.11);
    }
}