.main-layout {
    width: calc(100% - 80px);
    float: right;

    &--content {
        margin-top: 80px;
        height: calc(100% - 80px);
        width: 100%;
        padding-top: 48px;
        display: flex;
        justify-content: center;
    }
}